# ==========================================================
# Ruijie RG-X60
# OpenWrt 24.10 / Linux 6.6
#
# Target:
#   Ruijie RG-X60
#
# Features:
#   - MediaTek HNAT
#   - mt_wifi
#   - firewall4/nftables
#   - eBPF/BTF kernel preparation for dae
#
# dae binary is NOT built into firmware
# ==========================================================


#
# Target
#

CONFIG_TARGET_mediatek=y
CONFIG_TARGET_mediatek_filogic=y

CONFIG_TARGET_DEVICE_PACKAGES_mediatek_filogic_DEVICE_ruijie-rg-x60=""

CONFIG_TARGET_mediatek_filogic_DEVICE_ruijie-rg-x60=y


#
# Disable multi profile
#

# CONFIG_TARGET_MULTI_PROFILE is not set


#
# Image
#

CONFIG_TARGET_ROOTFS_PARTSIZE=1024


#
# Kernel compression
#

CONFIG_KERNEL_LZ4=y


#
# ==========================================================
# eBPF / BTF requirements for dae
# ==========================================================

CONFIG_KERNEL_CGROUPS=y

CONFIG_KERNEL_KPROBES=y
CONFIG_KERNEL_KPROBE_EVENTS=y

CONFIG_KERNEL_BPF_EVENTS=y
CONFIG_KERNEL_BPF_STREAM_PARSER=y


CONFIG_KERNEL_DEBUG_INFO=y
CONFIG_KERNEL_DEBUG_INFO_BTF=y
CONFIG_KERNEL_DEBUG_INFO_BTF_MODULES=y

# CONFIG_KERNEL_DEBUG_INFO_REDUCED is not set


CONFIG_KERNEL_XDP_SOCKETS=y


#
# XDP socket diagnostic module
#

CONFIG_PACKAGE_kmod-xdp-sockets-diag=y



#
# ==========================================================
# MediaTek acceleration
# ==========================================================

CONFIG_PACKAGE_kmod-mediatek_hnat=y

CONFIG_PACKAGE_kmod-mt_wifi=y

CONFIG_PACKAGE_kmod-warp=y


#
# PPE / WED related
#

CONFIG_PACKAGE_kmod-mediatek_eth=y


#
# Hardware offload
#

CONFIG_PACKAGE_kmod-nft-offload=y



#
# ==========================================================
# Network stack
# ==========================================================

CONFIG_PACKAGE_firewall4=y

CONFIG_PACKAGE_nftables=y

CONFIG_PACKAGE_nftables-json=y


#
# nftables modules
#

CONFIG_PACKAGE_kmod-nft-core=y

CONFIG_PACKAGE_kmod-nft-fib=y

CONFIG_PACKAGE_kmod-nft-offload=y

CONFIG_PACKAGE_kmod-nft-socket=y

CONFIG_PACKAGE_kmod-nft-tproxy=y


#
# Netfilter NAT
#
# HNAT requires generic NF_NAT
#

CONFIG_PACKAGE_kmod-nf-nat=y



#
# ==========================================================
# TCP optimization
# ==========================================================

CONFIG_PACKAGE_kmod-tcp-bbr=y



#
# ==========================================================
# Utilities
# ==========================================================

CONFIG_PACKAGE_ca-bundle=y

CONFIG_PACKAGE_ca-certificates=y

CONFIG_PACKAGE_curl=y

CONFIG_PACKAGE_ethtool=y

CONFIG_PACKAGE_ip-full=y

CONFIG_PACKAGE_iperf3=y

CONFIG_PACKAGE_openssl-util=y

CONFIG_PACKAGE_tcpdump=y

CONFIG_PACKAGE_htop=y



#
# ==========================================================
# LuCI
# ==========================================================

CONFIG_PACKAGE_luci=y

CONFIG_PACKAGE_luci-base=y



#
# ==========================================================
# Remove dae
# ==========================================================

# CONFIG_PACKAGE_dae is not set

# CONFIG_PACKAGE_daed is not set



#
# ==========================================================
# Remove proxy applications
# ==========================================================

# CONFIG_PACKAGE_luci-app-passwall is not set

# CONFIG_PACKAGE_luci-app-ssr-plus is not set

# CONFIG_PACKAGE_luci-app-vssr is not set


# CONFIG_PACKAGE_xray-core is not set

# CONFIG_PACKAGE_sing-box is not set

# CONFIG_PACKAGE_v2ray-core is not set



#
# ==========================================================
# Remove Passwall optional components
# ==========================================================

# CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Haproxy is not set

# CONFIG_PACKAGE_luci-app-passwall_INCLUDE_ShadowsocksR_Libev_Client is not set

# CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Shadowsocks_Libev_Client is not set

# CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Shadowsocks_Libev_Server is not set

# CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Shadowsocks_Rust_Client is not set

# CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Simple_Obfs is not set

# CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Trojan_Plus is not set

# CONFIG_PACKAGE_luci-app-passwall_INCLUDE_V2ray is not set

# CONFIG_PACKAGE_luci-app-passwall_INCLUDE_V2ray_Plugin is not set

# CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Xray is not set



#
# ==========================================================
# Remove SSR Plus components
# ==========================================================

# CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_ChinaDNS_NG is not set

# CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_NONE_V2RAY is not set

# CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_ShadowsocksR_Libev_Client is not set

# CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Shadowsocks_NONE_Client is not set

# CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Shadowsocks_NONE_Server is not set

# CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Shadowsocks_Rust_Client is not set

# CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Shadowsocks_Rust_Server is not set

# CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Shadowsocks_Simple_Obfs is not set

# CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Xray is not set



#
# ==========================================================
# Remove VSSR components
# ==========================================================

# CONFIG_PACKAGE_luci-app-vssr_INCLUDE_ShadowsocksR_Libev_Server is not set

# CONFIG_PACKAGE_luci-app-vssr_INCLUDE_Trojan is not set

# CONFIG_PACKAGE_luci-app-vssr_INCLUDE_Xray is not set

# CONFIG_PACKAGE_luci-app-vssr_INCLUDE_Xray_plugin is not set



#
# ==========================================================
# Remove rclone
# ==========================================================

# CONFIG_PACKAGE_luci-app-rclone is not set

# CONFIG_PACKAGE_luci-app-rclone_INCLUDE_rclone-ng is not set

# CONFIG_PACKAGE_luci-app-rclone_INCLUDE_rclone-webui is not set



#
# ==========================================================
# Remove eQOS
# ==========================================================

# CONFIG_PACKAGE_luci-app-eqos-mtk is not set

# CONFIG_PACKAGE_luci-i18n-eqos-mtk-zh-cn is not set



#
# ==========================================================
# Remove UPnP
# ==========================================================

# CONFIG_PACKAGE_luci-app-upnp is not set

# CONFIG_PACKAGE_luci-i18n-upnp-zh-cn is not set

# CONFIG_PACKAGE_miniupnpd is not set

# CONFIG_PACKAGE_miniupnpd-nftables is not set



#
# ==========================================================
# Remove legacy iptables userspace
# ==========================================================

# CONFIG_PACKAGE_iptables-legacy is not set

# CONFIG_PACKAGE_iptables-nft is not set

# CONFIG_PACKAGE_ip6tables-nft is not set

# CONFIG_PACKAGE_ip6tables-extra is not set

# CONFIG_PACKAGE_xtables-nft is not set


# ipset

# CONFIG_PACKAGE_ipset is not set

# CONFIG_PACKAGE_libipset is not set



#
# ==========================================================
# Remove xtables libraries
# ==========================================================

# CONFIG_PACKAGE_libxtables is not set

# CONFIG_PACKAGE_libiptext is not set

# CONFIG_PACKAGE_libiptext-nft is not set

# CONFIG_PACKAGE_libiptext6 is not set



#
# ==========================================================
# Remove iptables kernel modules
# ==========================================================

# CONFIG_PACKAGE_kmod-ip6tables is not set

# CONFIG_PACKAGE_kmod-ip6tables-extra is not set


# CONFIG_PACKAGE_kmod-ipt-core is not set

# CONFIG_PACKAGE_kmod-ipt-compat-xtables is not set

# CONFIG_PACKAGE_kmod-ipt-conntrack is not set

# CONFIG_PACKAGE_kmod-ipt-conntrack-extra is not set

# CONFIG_PACKAGE_kmod-ipt-extra is not set

# CONFIG_PACKAGE_kmod-ipt-filter is not set

# CONFIG_PACKAGE_kmod-ipt-ipset is not set

# CONFIG_PACKAGE_kmod-ipt-nat is not set

# CONFIG_PACKAGE_kmod-ipt-nat-extra is not set

# CONFIG_PACKAGE_kmod-ipt-offload is not set

# CONFIG_PACKAGE_kmod-ipt-raw is not set

# CONFIG_PACKAGE_kmod-ipt-raw6 is not set

# CONFIG_PACKAGE_kmod-ipt-tproxy is not set



#
# ==========================================================
# Remove ebtables legacy
# ==========================================================

# CONFIG_PACKAGE_ebtables-legacy is not set

# CONFIG_PACKAGE_ebtables-legacy-utils is not set


#
# ==========================================================
# Build tools
# ==========================================================

CONFIG_CCACHE=y
